.pagination {
  position: fixed;
  bottom: 10px;
  right: 20px;
  border: 1px solid rgba(105, 105, 105, 0.2);
}

.pagination button {
  padding: 8px 10px;
  border: none;
  outline: none;
  background-color: transparent;
  border: 1px solid rgba(105, 105, 105, 0.2);
}
.pagination button:hover {
  background-color: #3ace5d;
  border: 1px solid rgba(0, #3ace5d, 0, 0.2);
  color: white;
}

.disabled {
  display: none;
}

.active {
  display: inline-block;
}
