.pagination {
  position: fixed;
  bottom: 10px;
  right: 20px;
  border: 1px solid var(--pagination-border);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.pagination button {
  padding: 10px 15px;
  border: none;
  outline: none;
  background-color: white;
  border: 1px solid var(--pagination-border);
}
.pagination button:hover {
  background-color: #3ace5d;
  border: 1px solid rgba(0, #3ace5d, 0, 0.4);
  color: white;
}

.disabled {
  display: none;
}

.active {
  display: inline-block;
}
