.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 50px;
}

.coinLeftContent {
  width: 70%;
}

.coinContent {
  display: flex;
  align-items: flex-end;
}

.ranking {
  background-color: var(--dark-grey-color);
  color: white;
  padding: 5px;
  border-radius: 5px;
  max-width: 80px;
  width: 100%;
  text-align: center;
  font-size: 14px;
  margin-bottom: 15px;
}
.coinHeaderContent {
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 15px;
}

.coinHeaderContent img {
  width: 30px;
}

.coinHeaderContent h2 {
  margin-left: 5px;
}

.price {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.price h2 {
  font-size: 30px;
  font-weight: bold;
}

.price span {
  font-size: 20px;
}

.priceRange {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.marketCap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 13px;
  line-height: 30px;
}

.marketCapLeft {
  width: 100%;
}

.marketCapLeft ul {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.marketCapLeft ul li,
i {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.marketCapLeft ul li {
  color: var(--lighter-grey-color);
  padding: 5px 0;
  border-bottom: 1px solid var(--lighter-grey-color);
}

.marketCapLeft ul li span:nth-child(2) {
  font-weight: bold;
}

/* Right */

.coinRightContent {
  margin-left: 15px;
  width: 30%;
}

.coinRightContent h2 {
  font-size: 23px;
  font-weight: bold;
  margin-bottom: 20px;
}

.infoContent ul {
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.infoContent ul li {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.infoContent ul li a {
  border-radius: 5px;
  font-size: 13px;
}

.infoContent ul li span {
  font-size: 13px;
}

.infoContent ul li p {
  border-radius: 5px;
  font-size: 13px;
}

.infoContent ul li a,
.infoContent ul li p {
  color: rgb(81, 113, 209);
}

/* Price Container */

.coinPrice {
  width: 100%;
  margin: 0 auto;
  border-radius: 20px;
  background-color: #f2f2f2;
  margin-top: 50px;
  padding: 30px;
}

.priceStats {
  width: 100%;
}

.titles h2 {
  font-size: 30px;
  font-weight: 600;
  line-height: 40px;
}

.titles p {
  font-size: 13px;
  color: #6c757d;
  margin-bottom: 10px;
}

.content ul li {
  padding: 10px 0;
  width: 100%;
  display: flex;
  align-items: center;

  justify-content: space-between;
  border-bottom: 1px solid var(--lighter-grey-color);
}

.content ul li p {
  font-size: 13px;
}
.content ul li span {
  font-size: 13px;
  font-weight: bold;
}

.allTimePrice {
  align-items: center;
  display: flex;
  margin-bottom: 5px;
}

.allTimePrice p,
.allTimePrice h3 {
  font-size: 13px;
  font-weight: bold;
}

.allTimePrice p {
  margin-left: 10px;
}

.allTimeDate time {
  font-size: 11px;
}

.priceChangeList {
  border-bottom: 1px solid var(--lighter-grey-color);
  border-top: 1px solid var(--lighter-grey-color);

  padding: 20px 0;

  width: 100%;
}
.priceChangeList ul {
  display: flex;

  justify-content: space-between;
}
.priceChangeList ul li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.priceChangeList ul li p,
.priceChangeList ul li span {
  line-height: 20px;
}

.priceChange {
  margin-top: 50px;
}

.priceChange h2 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 30px;
}

.description {
  margin-top: 50px;
}

/* Responsive */

@media (max-width: 1000px) {
  .coinContent {
    flex-direction: column;
    align-items: center;
  }
  .coinLeftContent {
    width: 100%;
  }
  .coinRightContent {
    width: 100%;
    margin: 0px;
    margin-top: 30px;
  }
}

@media (max-width: 850px) {
  .marketCap {
    margin: 0px;
    margin: 10px 0px 0px 0px;
    flex-direction: column;
  }
  .marketCapLeft {
    width: 100%;
  }
  .priceRange {
    margin: 0px;
    margin-top: 20px;
    width: 100%;
  }

  .price {
    width: 100%;
    justify-content: space-between;
  }

  .price span {
    margin: 0px;
  }
}

@media (max-width: 600px) {
  .main {
    padding: 0px;
  }
}
