.mainContent {
  width: 100%;
  margin-top: 18px;
  padding: 7px;
}

table thead > tr > th:nth-child(2) {
  width: 350px;
  text-align: left;
}

table {
  border: 0;
  border-collapse: separate;
}

table thead th {
  font-weight: bold;
}

table thead th {
  border-bottom: 1px solid var(--border-grey);
  border-top: 1px solid var(--border-grey);
  padding: 15px 20px;
  font-size: 14px;
}
